In [1]:
# importing libraries

import pandas as pd

In [3]:
data = pd.read_csv('file.csv')
data.head()

,pointer_y,planchette_material,spectral_resonance,pointer_x,psychic_impression,emf_reading_mG,symbol_revealed,case_file_ref
0,850.145990,Rosewood,3.15,1465.234850,Sense of Dread,2.191511,T,ENFIELD_1977
1,868.145929,Rosewood,3.15,1315.564309,Sense of Dread,1.893896,5,BROOKFIELD_1981
2,1140.060016,Rosewood,3.15,641.235972,Clear,2.362439,O,BROOKFIELD_1981
3,625.804305,Willow,3.15,1365.293498,Clear,2.481280,F,ENFIELD_1977
4,1629.532557,Bone,3.15,2755.195739,Sense of Dread,1.755809,9,BROOKFIELD_1981

In [4]:
data.describe()

          pointer_y  spectral_resonance     pointer_x  emf_reading_mG
count  66000.000000        66666.000000  66000.000000    66666.000000
mean     992.556317            3.150458   1481.613977        2.360768
std      382.161863            0.047798    679.699874        2.580088
min        0.000000            1.000000      0.000000        1.500009
25%      668.949759            3.150000    812.000000        1.752806
50%      905.533248            3.150000   1431.255512        2.009943
75%     1145.219474            3.150000   2079.409474        2.265095
max     2250.000000            8.000000   3000.000000       24.999866

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66666 entries, 0 to 66665
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   pointer_y            66000 non-null  float64
 1   planchette_material  66666 non-null  object
 2   spectral_resonance   66666 non-null  float64
 3   pointer_x            66000 non-null  float64
 4   psychic_impression   66666 non-null  object
 5   emf_reading_mG       66666 non-null  float64
 6   symbol_revealed      66000 non-null  object
 7   case_file_ref        66666 non-null  object
dtypes: float64(4), object(4)
memory usage: 4.1+ MB

In [6]:
data.isnull().sum()

pointer_y              666
planchette_material      0
spectral_resonance       0
pointer_x              666
psychic_impression       0
emf_reading_mG           0
symbol_revealed        666
case_file_ref            0
dtype: int64

In [14]:
data['pointer_x'].value_counts()

pointer_x
460.000000     11
1566.000000     9
599.000000      8
419.000000      8
923.000000      7
               ..
1479.757406     1
910.152879      1
1488.323535     1
900.028451      1
803.818869      1
Name: count, Length: 62570, dtype: int64

In [15]:
data['pointer_y'].value_counts()

pointer_y
1140.000000    10
535.000000      9
931.000000      9
158.000000      9
1845.000000     8
               ..
939.441142      1
814.483155      1
1593.545141     1
945.361907      1
1031.552476     1
Name: count, Length: 62093, dtype: int64

In [9]:
data['symbol_revealed'].value_counts()

symbol_revealed
VALAK      6000
7          4000
3          4000
9          4000
5          4000
4          4000
0          4000
1          4000
G          1000
C          1000
H          1000
V          1000
J          1000
YES        1000
T          1000
P          1000
L          1000
U          1000
2          1000
Z          1000
M          1000
Q          1000
NO         1000
6          1000
A          1000
I          1000
X          1000
S          1000
N          1000
8          1000
D          1000
K          1000
B          1000
W          1000
Y          1000
GOODBYE    1000
R          1000
F          1000
O          1000
E          1000
Name: count, dtype: int64

In [16]:
data[data.isnull().any(axis=1)]

,pointer_y,planchette_material,spectral_resonance,pointer_x,psychic_impression,emf_reading_mG,symbol_revealed,case_file_ref
42,NaN,Bone,3.15,NaN,Residual Energy,2.228795,NaN,ENFIELD_1977
114,NaN,Oak,3.15,NaN,Sense of Dread,1.884804,NaN,ENFIELD_1977
135,NaN,Ivory,3.15,NaN,Residual Energy,1.940519,NaN,ST_CARTA_1952
392,NaN,Rosewood,3.15,NaN,Cold Spot Detected,1.735410,NaN,ST_CARTA_1952
496,NaN,Willow,3.15,NaN,Sense of Dread,2.458062,NaN,HARRISVILLE_1971
...,...,...,...,...,...,...,...,...
66000,NaN,Willow,3.15,NaN,Cold Spot Detected,1.840365,NaN,ST_CARTA_1952
66034,NaN,Rosewood,3.15,NaN,Sense of Dread,1.724118,NaN,ENFIELD_1977
66220,NaN,Rosewood,3.15,NaN,Residual Energy,20.627898,NaN,HARRISVILLE_1971
66229,NaN,Willow,3.15,NaN,Sense of Dread,2.390717,NaN,ST_CARTA_1952
66284,NaN,Ivory,3.15,NaN,Residual Energy,2.158992,NaN,ENFIELD_1977

In [17]:
missing_rows = data[data[['pointer_x', 'pointer_y', 'symbol_revealed']].isnull().any(axis=1)]

In [19]:
print(len(missing_rows))

666

In [21]:
pd.DataFrame(missing_rows).head()

,pointer_y,planchette_material,spectral_resonance,pointer_x,psychic_impression,emf_reading_mG,symbol_revealed,case_file_ref
42,NaN,Bone,3.15,NaN,Residual Energy,2.228795,NaN,ENFIELD_1977
114,NaN,Oak,3.15,NaN,Sense of Dread,1.884804,NaN,ENFIELD_1977
135,NaN,Ivory,3.15,NaN,Residual Energy,1.940519,NaN,ST_CARTA_1952
392,NaN,Rosewood,3.15,NaN,Cold Spot Detected,1.735410,NaN,ST_CARTA_1952
496,NaN,Willow,3.15,NaN,Sense of Dread,2.458062,NaN,HARRISVILLE_1971

In [22]:
duplicates = data[data.duplicated()]
print(duplicates)

Empty DataFrame
Columns: [pointer_y, planchette_material, spectral_resonance, pointer_x, psychic_impression, emf_reading_mG, symbol_revealed, case_file_ref]
Index: []

In [25]:
data.iloc[666]

pointer_y                  796.824553
planchette_material               Oak
spectral_resonance               3.15
pointer_x                 1486.436693
psychic_impression     Sense of Dread
emf_reading_mG               1.774105
symbol_revealed                     7
case_file_ref           ST_CARTA_1952
Name: 666, dtype: object